[submodule "BDDRScrollViewAdditions/Submodules/BDDROneFingerZoomGestureRecognizer"]
	path = BDDRScrollViewAdditions/Submodules/BDDROneFingerZoomGestureRecognizer
	url = https://github.com/bddckr/BDDROneFingerZoomGestureRecognizer.git
